<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SOAPAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SOAPAP.Properties.Settings>
            <setting name="Printer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://api-siscom.cuautlancingo.gob.mx/</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value>XRU0DA05-OxE0Py88-LyRsbXNt-fWx9bH1o-bmp9bmxz-bG9zZGRk-ZA==</value>
            </setting>
            <setting name="FacturamaUser" serializeAs="String">
                <value>gfdsystems</value>
            </setting>
            <setting name="FacturamaPassword" serializeAs="String">
                <value>gfds1st95</value>
            </setting>
        </SOAPAP.Properties.Settings>
    </userSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWsCFDI33" maxReceivedMessageSize="4194304" />
          <binding name="timbrado_cfdi33_binding">
            <security mode="Transport" />
          </binding>
          <binding name="timbrado_cfdi33_binding1" />
          <binding name="timbrado_cfdi33_binding2">
            <security mode="Transport" />
          </binding>
          <binding name="timbrado_cfdi33_binding3" />
          <binding name="BasicHttpsBinding_IWsCFDI33">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://sistema.timbox.com.mx/timbrado_cfdi33/action"
          binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi33_binding2"
          contract="TimboxWS.timbrado_cfdi33_port" name="timbrado_cfdi33_port1" />
        <endpoint address="https://staging.ws.timbox.com.mx/timbrado_cfdi33/action"
          binding="basicHttpBinding" bindingConfiguration="timbrado_cfdi33_binding"
          contract="TimboxSandboxWS.timbrado_cfdi33_port" name="timbrado_cfdi33_port" />
        <endpoint address="http://facturainteligenteintegraciones.com/WsIntegral33_TEST/WsCFDI33.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsCFDI33"
          contract="WsIntegral33Pruebas.IWsCFDI33" name="BasicHttpBinding_IWsCFDI33" />
        <endpoint address="https://appsfi:4433/WsIntegral33_TEST/WsCFDI33.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWsCFDI33"
          contract="WsIntegral33Pruebas.IWsCFDI33" name="BasicHttpsBinding_IWsCFDI33" />
      </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
