<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SOAPAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SOAPAP.Properties.Settings>
            <setting name="Printer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://api-siscom.cuautlancingo.gob.mx/</value>
            </setting>
        </SOAPAP.Properties.Settings>
    </userSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWsCFDI33" maxReceivedMessageSize="4194304" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://facturainteligenteintegraciones.com/WsIntegral33_TEST/WsCFDI33.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsCFDI33" contract="WsIntegral33Pruebas.IWsCFDI33" name="BasicHttpBinding_IWsCFDI33" />
      </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
